.main-content {
    margin: 40px 20px;
    font-size: 16px;
    color: #333;
}
.container {
    text-align: center;
}

.form-group {
    padding: 10px 20px;
}
.input-long {
    padding: 10px;
    width: 300px;
    height: 20px;
}
.i-s-5 {
    width: 100px;
}


.submit-delete {
    border: 1px solid rgb(160, 153, 221);
    background-color: yellow;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s ease-in-out;
    width: 100px;
    text-align: center;
}
.submit-default {
    font-weight: bold;
    display: inline-table;
    margin-top: 5px;
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
    padding: 0px 10px;
    border: 1px solid #333;
}


.m-t-5 {
    margin-top: 50px;
}
.m-t-3 {
    margin-top: 30px;
}
.m-l-5 {
    margin-left: 50px;
}
.m-l-1 {
    margin-left: 10px;
}
.submit-delete:hover {
    background-color: red;
}
.submit-default:hover {
    background-color: grey;
}

.submit-smail {
    padding: 2px 2px;
    border: 1px solid #333;
    width: 50px;
    border-radius: 3px;
    background-color: rgb(154, 200, 240);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.submit-smail:hover {
    background-color: rgb(162, 167, 172);
}

.submit-preview {
    padding: 2px 2px;
    border: 1px solid #333;
    width: 80px;
    text-align: center;
    border-radius: 3px;
    background-color: rgb(154, 200, 240);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.submit-preview:hover {
    background-color: rgb(162, 167, 172);
}

/* ********************** Search BIN *************************** */
.box-content {
    text-align: center;
}
.box-input {
    display: inline-table;
    margin: 20px 20px;
    border: 5px solid #333;
    text-align: center;
    border-radius: 10px;
}
.input {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 5px 10px;
    grid-gap: 20px;
}
.box-input .submit-login p {
    color: rgb(49, 42, 42);
    font-weight: bold;
    border: 2px solid #333;
}
.box-input .submit-login p:hover {
    background-color: rgb(13, 66, 6);
    color: aliceblue;
    border: 2px solid #fff;
}

/* ********************** Table-Content *************************** */
.main-table {
    margin-top: 10px;
}
.table-h {
    background-color: #333;
}

.table-h p {
    color: aliceblue;
}

.input-size {
    width: 50px;
}
.detail-card {
    border: 1px solid #333;
    background-color: #333;
}


/* ********************** SWFW *************************** */
.margin-content {
    padding: 5px 20%;
    text-align: center;
}

.table-swfw {
    text-align: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 1px 1px #333;
}

.content-add {
    padding: 5px 10px;
    border: 1px solid #333;
}
.box-input-sw {
    display: inline-table;
    margin: 20px 20px;
    border: 1px solid #333;
    text-align: center;
    border-radius: 10px;
}

/* ********************** RDH-RO *************************** */
.content-preview {
    margin-top: 20px;

}
.grid-content {
    padding: 5px 30px;
    border: 1px solid #333;
    border-radius: 3px;
}
.qty-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
}
.w-400 {
    width: 400px;
}
.grid-qty-content {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    text-align: center;
}

.grid-images {
    width: 1000px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 30px;
}

.grid-s-image {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 20px;
}
.dash-border {
    border: 2px solid #333;
}

.ggi{
    color: blue;
}
.MuiTableHead-root .MuiTableCell-root{
    background-color: #333;
    color: aliceblue;
}
